<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/searchresults.css">
    <link rel="stylesheet" href="/CSS/footer.css">
    <title>Search Page</title>
</head>
<body>
    <div class="main-part">
        <%-include("partials/header.ejs")%>
        <div class="content">
        <h2>Search result for "<%=searchQuery%>"</h2>
        <% if(property.length>0){%>
           <div class="cards-container">
            <%for(let prop of property){%>
            <div class="card">
                <img src="<%=prop.image%>" alt="image">
                <h5><%=prop.title%></h5>
                <h5><%=prop.price%></h5>
                <p><%=prop.location%></p>
                <button><a href="/home/<%=prop.type%>/<%=prop.id%>">View Details</a></button>
            </div>
       <%}%>
        </div>
    <%}else{%>
       <p><strong>No such property found,please try again with different keyword.</strong></p>
     <%}%>
       <%-include("partials/footer.ejs")%>;
       </div>
     </div>
</body>
</html>